# windowsのショートカットを無視
*.lnk
# キャッシュを無視
*.pyc
# batファイルを無視
*.bat

# _や__から始まるディレクトリやファイルは自分用
_*
__*
.*

# __init__.pyは必要だから追跡する
!**/__init__.py

# テスト用とかメモ用のものは無視
*test*
*note*
env/

# もらいものだから無視
maya2020.bat

# バグがそのままだから無視
vtxSlider